.desk{
  .desk_top{
    font-size: 22px;
    color: #343434;
    margin-bottom: 30px;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
  }
  .desk_title{
    font-size: large;
    text-transform: uppercase;
  }
  .desk_title_second{
    font-size: large;
    text-transform: uppercase;
    margin-top: 20px;
  }
  .change_category{
    float: right;
  }
}