.user{
  .user_subscribe{
    float: right;
    margin-top: 10px;
    margin-left: 10px;
  }
  .user_name{
    color: #343434;
    font-size: 14px;
  }
  .user_category{
    margin-bottom: 10px;
  }
  .user_title{
    font-size: 20px;
    color: #343434;
    margin-bottom: 10px;
    margin-top: 20px;
    text-transform: uppercase;
  }
}