<div class="about">
  <h1>О сайте</h1>
  Данная блог-платформа разработана для возможности поделиться Вашим мнением со всей страной!
  Нет возможности сходить к психологу, а высказаться очень хочется? Вам сюда!
  Хотите быть услышаным и не осужденым по поводу вашего политического мнения? Это самая подходящая площадка! Ведь здесь
  все абсолютно анонимно!
  Также, Вы можете читать мысли других пользоваталей, полезные статьи и открывать для себя «лайфхаки».
  Просто подпишись на понравившуюся тебе категорию или пользователя и формируй уникальный ленту новостей, которая будет
  подходить именно тебе!
  Добро пожаловать !
</div>